/*Set the background color to Masters green*/
body{
    background-color: #006747;
}
/*Change background color if screen width is less than 700px*/
@media screen and (max-width: 700px){
    body{
        background-color: white;
    }
    
}

/*Set the largest header style to color blue + tab it in 20 pixels*/
h1 {
    color:hsl(300, 76%, 72%);
    margin-left: 20px;
    font-size: 60px;
    
}
/*Add a blueviolet shadow for h1 headers and p elements and make them the same font*/
h1, p{
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 2px 2px blueviolet;
}
/*Set the second largest header style to color using rgb + tab it in 25 pixels*/
h2 {
    color:rgb(100, 150, 200);
    margin-left: 25px;
    font-size: 7mm;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

/*Combining 2 selectors to choose specific h2 elements to add the shadow to*/
h2.sectionHead{
    text-shadow: 2px 2px #cae65a;
}

/*Set the third largest header style and the details tab to a 
color using rgb + tab it in 30 pixels, using descendant comb*/
h3 details{ 
    
    margin-left: 30px;
    font-size: 1pc;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    display:inline;
}


/*Hides any text with the h6 tag*/
h6{
    display: none;
}


/*set the nav bar colors, width, height and display*/
nav{
    background-color: aqua;
    text-align: center;
    display: inline-block;
    height: auto;
    width: auto;
    max-width: fit-content;
    min-width: none;
    position: fixed;
    
}

/*Change the color and alignment of the writers question in mailing form using the id*/
#AuthorsQ {
    text-align: justify;
    color:burlywood;
}

/*change color of link when you mouse over it*/
a:hover{
    color: #cae65a;
}

/*Child combinator for the nav bar*/
nav > a{
    color:rgb(233, 122, 122);
    text-transform: uppercase;
}

/*Adjacent sibling combinator to transform text in the Agenda section*/
h2 + h4{
    text-transform: uppercase;
}

/*Add shadow to any h3 header after an h3 header using general sibling comb
(mainly in meeting notes section)*/
h2 ~ h3{
    text-shadow: 2px 2px cyan;
}

/*Changes color of button text - button has been activated*/
button:active{
    color: rgb(225, 31, 199);
    background-color: #006747;
}

/*Should make any element that has span tag take up whole line("THE MASTERS 
text in the webpage*/
span{
    display: block;
}

/*Creates relative positioning based on the screen window size for the image
of Jon Rahm*/
.Rahmimg{
    display: block;
    padding: 0px 5px 5px 5px;
    position: relative;
    left: 10vmin;
    top:10px;
}

/*Add box model for main meeting notes content - padding, margins and 
border details*/
.MainContent {
    margin: auto;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-style: dotted;
    border-color: black;
    border-width: 5px;
    border-radius: 5vw;
}

/*Create the grid attribute for the header and attendance block*/
.grid-maincontainer {
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

/*Stack the nav bar at the top*/
.Gitem-nav {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*The title/headers of the page come second and span a row*/
.Gitem-titles {
    grid-area: titles;
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 2;
    grid-row-end: 4;
}

/*Attendance section should come in 3rd and span 2 rows*/
.Gitem-Attendance {
    grid-area: main;
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 4;
    grid-row-end: 6;
}

/*Create the flex container and attributes for the agenda sub sections*/
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
}

/*Add alignment and decoration to the paragraph elements*/
p{
    text-align: left;
    text-decoration-line: overline;
    text-decoration-style: dashed;
}

/*Add box model and font size of Agenda section of Notes*/
.Agenda{
    margin: 5px 5px 5px 5px;
    padding: 1px 5px 5px 5px;
    border-style: dashed;
    border-color: red;
    border-width: 5px;
    border-radius: 4vmax;

    font-size: medium;
}

/*Psuedo-class hover - changes the background of the Agenda class when
moused over*/
.Agenda:hover{
    background-color: red;
}

/*Attribute selector for all things with the agenda class*/
[class|="Agenda"]{
    background-color: rgb(131, 131, 14);
}

/*Add box model for the mailing form*/
.MailingForm{
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;

    padding: 2px 5px 15px 5px;
    border-style: groove;
    border-width: 2vmin;
    border-color: black;

}
/*Unviersal selector, justifies all text and colors it to neon green
unless it has a specific styling*/
* {
    text-align: justify;
    color: rgb(89, 240, 122);
}